#b1{
    font-style: italic ;
    font-size:  30;
   color: rgba(0,0,0);
    
 }
#b2{
    font-style: italic ;
    font-size:  40;
   color: rgba(0,0,0);
    
 }
 #b5{
    font-style: italic ;
    font-size:  25;
   color: rgba(0,0,0);
    
 }
#b3{
   
    background-color: rgba(255, 255, 255);
    
 }
 #b4{
    font-style: italic ;
    font-size:  20;
    
    color:rgb(0,0,0);margin-top: 10px; padding:10px;
    
   
    
 }
 #b8{
   
   text-align: center; 
    
    background-color: rgba(177, 46, 107, 0.616);
   
}
 

.c1{
   font-style: oblique;
    font-size: large;
    
     background-color: rgba(177, 46, 85, 0.322);
    
 }
 .c2{
   
    
    
    color: rgba(255,255,255);
   
}
.c3{
   
    
    font-style:oblique;
        font-size: large;
    
        background-color: rgba(177, 46, 85, 0.322);
    color: rgba(255,255,255);
   
}
.c4{
   
    
    font-style:normal;
    font-size: large;
   
    color: rgba(0,0, 0);
   
   
    
}

#b7{
    font-style: italic ;
    font-size:  15;
    color:rgb(0, 0, 0);margin-top: 10px; padding:10px;
    background-color: rgba(255,255,255);
    
    
 }